@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap');
@import "top-section.css";
@import "services.css";
@import "portfolio-section.css";
/*@import "slider-section.css";*/

/*body {
    background: #eeeeee; ;
}
*/
.container{
    max-width: 1100px;
    margin: 0 auto;
}