#top {
   
    
}

#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}

#top .info .blue-squre {
    border: 17px solid #D7B401; /*#CEA434;  #dbf1ff*/
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 0;
    top: -7%;
    left: -25%;
    top: -70%;
    left: -34%;
}
#top .info h1{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700px;
    color: #16171b;
    margin-bottom: 2rem;
    z-index: 1;
}

#top .info p{
    position: relative;
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
    z-index: 1;
}

#top .info a{
    position: relative;
    font-size: .9rem;
    color: #16171b;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 2px;    
}

#top .info {
    padding: 15px;
    position: relative;
}

#top .img{
    
}

#top .img .background-img{
    background-image : url('../images/map-pic.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 800px;
    margin: 0 auto;
}